*{
    margin: 0px;
    padding: 0px;
    }
    form{
        position: relative;
        top: 160px;
        margin: 10px;
        left: 50%;
        transform: translate(-50%,-50%);
        align-items: center;
         border: 3px solid black;
         width: 50%;
         height: 40%;
         padding: 20px;
         background-color: rgb(92, 136, 172) ;
         border-radius: 10px;
    }
    .info{
        padding: 5px;
        margin: 15px;
        border: 2px dotted black;
        font-size: 20px;
    }
    .info input,textarea{
        position: relative;
        width: 80%;
        height: fit-content;
        max-height: 120px;
    }
    .click{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .click button{
        margin: 10px;
        padding: 10px;
        font-size: 18px;
        width: 100px;
        background-color: slateblue;
    }