@keyframes move {
    from {transform: translateX(0);}
    to {transform: translateX(70%);}
}
.header{
    position: relative;
    width: 90%;
    left:40px;
    height: 60px;
    padding-top: 0px;
    padding:10px;
    margin: 10px;
    background-color: beige;
    border: 4px dotted crimson;
    border-radius: 20px;
}
.move-text {
    animation: move 5s infinite alternate;
        color: crimson;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px darkred;
}
.box{
    position: relative;
    width: 90%;
    left: 40px;
    border: 1px solid darkblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.list{
    position: relative;
    border: 2px dotted darkblue;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    width: 300px;
    margin: 20px;
}
.list h3{
    top:0px;
    color: darkslateblue;
}
.list img{
    position: relative;
    justify-content: center;
    height: 150px;
    width: 100%;
    border: 0.5px solid gray;
    box-shadow: 4px 4px gainsboro;
}
.content{
    border: 0.5px solid rgb(181, 143, 216) ;
    box-shadow: 1px 1px blueviolet;
    color: rgb(104, 28, 175);
    position: relative;
    height: fit-content;
    max-height: 100px;
    overflow-y: scroll;
}
.date{
    color: slateblue;
}
.footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(230, 46, 83);
    padding: 10px;
}
.update{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}